<!-- <div style='background:rgb(0, 85, 128);margin:-24px -24px 0 -25px'>
    <div>
        <div class='titleModel'>
            <h4 mat-dialog-title>Add Check List Tag</h4>
        </div>
        <div class='titleModelClose'>
            <button mat-icon-button mat-dialog-close>
            <mat-icon class="material-icons">cancel</mat-icon>
       </button>
        </div>
    </div>
</div>


<div style='margin:0'>
    <section class="content" style="padding-top:30px;padding-bottom:0">
        <form [formGroup]="CheckListAddTagForm" #newTag="ngForm">
            <div class="oc-dashboard-body oc-rules-configuration cp-form">
               
                <div class="add-new-widget">
                    <div class="row basic-info cp-form">
                        <div class="col-md-12">                           
                            <div class="row">
                                <hr>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="tagName" class="mylbl">Tag Name</label>
                                        <input type="text" id="tagName" name="tagName" data-type="string" class="form-control" placeholder="Enter Tag Name" formControlName="tagName"/>
                                        <div class="input-alert" *ngIf="!CheckListAddTagForm.controls['tagName'].valid && CheckListAddTagForm.controls['tagName'].touched">Please enter tag name minimum 4 or maximum 16 characters.</div>
                                    </div>
                                </div>                                
                            </div>
                         
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button type="button" class="btn cp-btn-cancel" data-dismiss="modal" (click)="cancelModalPopUp()">Cancel</button>
                            <button type="button" class="btn cp-btn-submit" data-dismiss="modal" [disabled]="!CheckListAddTagForm.valid" (click)="saveAddTag(newTag.value)">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div> -->