
<!-- 
<div style='margin:0'>
    <section class="content">
        <form [formGroup]="resetForm" #resetpasswrd="ngForm">
            <div class="oc-dashboard-body oc-rules-configuration cp-form">

                <div class="add-new-widget">
                    <div class="row basic-info cp-form">
                        <div class="col-md-12">
                            <div class="row">
                                <hr>
                                <div class="col-md-5">
                                   
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password"  class="form-control input-sm bounceIn animation-delay2" style='width:307px' formControlName="oldPassword">
                                       <small [hidden]="resetForm.controls.oldPassword.valid || (resetForm.controls.oldPassword.pristine && !submitted)" class="text-danger">
                           Password is required .
                       </small>
                                    </div>
                                     <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password"  class="form-control input-sm bounceIn animation-delay2" style='width:307px' formControlName="newPassword">
                                        <small [hidden]="resetForm.controls.newPassword.valid || (resetForm.controls.newPassword.pristine && !submitted)" class="text-danger">
                           Password is required .
                       </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password"  class="form-control input-sm bounceIn animation-delay2" style='width:307px' >
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                           
                            <button type="button" class="btn cp-btn-submit" data-dismiss="modal" [disabled]="!resetForm.valid" (click)="resetPwd(resetpasswrd.value)">Send</button>
                             <button type="button" class="btn cp-btn-cancel" data-dismiss="modal" (click)="cancelModalPopUp()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div> -->