<!-- <div style='background:rgb(101,206,167);margin:-24px -24px 0 -25px'>
    <div>
        <div class='titleModel'>
            <h4 mat-dialog-title>Forgot Password</h4>
        </div>
        <div class='titleModelClose'>
            <button mat-icon-button mat-dialog-close>
            <mat-icon class="material-icons">cancel</mat-icon>
       </button>
        </div>
    </div>
</div>


<div style='margin:0'>
    <section class="content">
        <form [formGroup]="forgotForm" #forgotpasswrd="ngForm">
            <div class="oc-dashboard-body oc-rules-configuration cp-form">

                <div class="add-new-widget">
                    <div class="row basic-info cp-form">
                        <div class="col-md-12">
                            <div class="row">
                                <hr>
                                <div class="col-md-5">
                                   
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" placeholder="Enter Email" class="form-control input-sm bounceIn animation-delay2" style='width:307px' formControlName="email">
                                        <small [hidden]="forgotForm.controls.email.valid || (forgotForm.controls.email.pristine && !submitted)" class="text-danger">
                          Email is required .
                       </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                           
                            <button type="button" class="btn cp-btn-submit" data-dismiss="modal" [disabled]="!forgotForm.valid" (click)="forgetPwd(forgotpasswrd.value)">Send</button>
                             <button type="button" class="btn cp-btn-cancel" data-dismiss="modal" (click)="cancelModalPopUp()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div> -->